<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyhn.mapper.BookMapper">
    <select id="getBookList" resultType="com.yyhn.pojo.Book">
        SELECT * FROM BOOK
    </select>
    <insert id="addBook" parameterType="com.yyhn.pojo.Book">
        INSERT `book`(`name`,`authorid`)VALUES(#{name},#{authorid})
    </insert>
</mapper>